TOKEN = '_Здесь_нужно_вставить_токен_телеграм_бота'
GROUP_ID = 'ID_группы_или_свой_ID_куда_бот_будет_отправлять_заявки'
agent1 = 'Данные_Первого_Агента'
agent2 = 'Данные_Второго_Агента'
agent3 = 'Данные_Третьего_Агента'
agent4 = 'Данные_Четвёртого_Агента'